@page
@model Website_DuelSyns.Inc_Synthesis_2022.Pages.LeaderBoardModel
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div class="welcome-title">
<h1>LeaderBoard</h1>
</div>

@if(Model.PlayersPerTournament != null)
{
    @for(int i = 0; i < Model.PlayersPerTournament.Count; i++)
    {
        <div class= "SignUpForTournament">
        <h1>Name: @Model.PlayersPerTournament[i].Name</h1>
        <h2>Points: @Model.PlayersPerTournament[i].Points</h2>
        <h3><p>Rank: @Model.PlayersPerTournament[i].Rank</p></h3>           
        </div>
        <br />
    }
}
else
{
    <div class= "SignUpForTournamentUp">
    <h3><p>No Players in this Tournament</p></h3>
    </div>
    <br /> 
}

    <br />
    <br />
    <br />
}   